.info-nav {
    background-color: #0F52C7;
    font-size: 14px;
    font-weight: bold;
}

.info-nav-separator {
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.registerControl {
    width: 400px;
    margin: 5px;
}

.formControls {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.accionsregister {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.btnEnviar {
    height: 50px;
}

.accionsAcept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-nav {
    background-color: #2473DA;
    font-weight: bold;
}

.fix-menu-nav-item-position {
    padding-top: 10px;
}

.main-banner {
    background-image: url("../img/headerImg.jpg");
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    font-weight: bold;
    font-size: 40px;
}

.main-banner--alt {
    background-image: url("../img/headerImg.jpg");
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
}

.main-banner--alt-text {
    font-weight: bold;
    font-size: 35px;
}

.white-border {
    border: 1px solid #ffffff;
    padding: 80px;
}

.database-type {}

.database-dashboard {
    margin-top: 20px;
    margin-bottom: 20px;
}

.database-data-info {
    width: inherit;
    font-size: 14px;
}

.database-data-info-title {
    font-weight: bold;
}

.database-info {
    margin-top: 40px;
    margin-bottom: 40px;
}

.database-data {
    border: 1px solid #767a7e;
    padding: 50px;
    margin-top: 50px;
}

.tabs-content-panel {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FCFCFC;
}

.tabs-content-title {
    color: #5373B4;
    font-size: 22px;
}

.tabs-content-text {
    text-align: justify;
}

.tabs-content-actions {
    padding-top: 20px;
}

.microdata-tab-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.microdata-tab-button--width {
    width: 150px;
}

.publication-tab-download {
    margin-top: 10px;
    margin-bottom: 10px;
}

.report-tab-form {
    margin-top: 20px;
}

.report-tab-button-fix {
    margin-right: 15px;
}

.microdatos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 5px;
}

.labelsForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.item-micro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top: 1px solid slategrey;
    padding: 5px;
}

.main-menu {
    background: #F1F1F1;
    padding: 10px 10px 10px 10px;
}

.main-menu-year {
    background: #F1F1F1;
    padding: 10px 10px 10px 10px;
    border-left: 4px solid #FFFFFF;
}

.main-menu-item {
    margin: 10px 10px 10px 10px;
}

.main-menu-title {
    color: #1052C4;
}

.footer-text {
    font-size: 12px;
    color: #767a7e;
}

.footer1 {
    background-color: #f4f1f1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.accessFilter .col-md-8 {
    padding: 0px !important;
}

.main-menu-item .col-md-4 {
    padding: 0px !important;
    border: 2px solid #F1F1F1;
}

.btn {
    border-radius: 0px;
}

input[text] {
    border-radius: 0px;
}

.selectedBases .col-md-2 {
    padding: 0px !important;
}

.selectedBases .col-md-8 {
    padding: 0px !important;
}

.main-menu-item-checbox {
    margin: 10px 10px 0px 0px;
}

.selectedBases {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.selectedBasesItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
}

.footer1-title {
    font-weight: bold;
    color: #0455bf;
}

.footer2 {
    background-color: #181818;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer2-sections {
    padding-left: 20px;
    padding-right: 20px;
}

.footer2-quicklinks {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer2-separator {
    border-left: inset;
    border-width: 2px;
    border-color: #767a7e;
}

.footer2-header-title {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: inset;
    border-color: yellow;
    width: 143px;
}

.footer2-social-link {
    padding: 10px;
}

.footer3 {
    background-color: #121212;
    padding: 25px;
}

.form-check-type {}

.letter-index {
    font-size: 15px;
    margin-left: 3px;
    margin-right: 3px;
}

.topic-input {
    width: 300px;
    height: 40px;
}

.login-input {
    width: 100%;
    margin: 20px;
    height: 40px;
}

.login-section {
    font-size: small;
    color: #FFFFFF !important;
}

.login-submit {
    background: lightgrey;
    height: 40px;
    width: 90px;
    margin: 20px;
}

.download-butn {
    position: absolute;
    left: calc(50% - 100px);
    background: #fbb600;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -11px;
    color: white;
}